.session-btn {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 76px;
    width: 100vw;
    align-self: flex-end;
    background-color: rgba(255, 255, 255, 0.95);
}

.session-btn-2 {
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

#login-btn {
    align-content: flex-end;
    height: 36px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#signup-btn {
    height: 36px;
    padding: 8px 16px 8px 16px;
    width: 150px;
    background-color: rgb(3, 168, 124);
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(3, 168, 124);
    justify-content: flex-end;
    // margin-right: 100px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}