// .login-form-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 100px;
// }

// .login-form-box {
//     font-size: 60 px;
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     text-align: center;
//     margin-top: 55px;
//     width: 80%;
//     color: black;
// }

// .grande {
//     font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
//     color: orange;
// }

// .login-signup {
//     box-sizing: inherit;
//     font-weight: bold;
//     color: orange;
// }

.top-left-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    padding-left: 80px;
    justify-self: flex-start;
}

.header-group {
    font-family: Georgia, 'Times New Roman', Times, serif;
    // font-weight: bold;
    font-size: 22px;
    padding-left: 80px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}