.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.splash > h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 85px;
    font-weight: bold;
    text-align: center;
    margin-top: 125px;
    width: 90%;
    max-width: 1200px;
    color:black;
    margin-bottom: 30px;
}

.splash-page-1 {
    font-size: 22px;
    font-weight: 300;
    margin-top: 25px;
    line-height: 20px;
    margin-bottom: 20px;
}

.splash-btn-1 {
    background-color: rgb(3, 168, 124);
    color: white;
    width: 340px;
    height: 62px;
    font-size: 20px;
    padding: 8px 16px 8px 16px ;
    border: 1px solid rgb(3, 168, 124);
    margin-top: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.splash-page-2 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    align-items: center;
}

.splash-btn-2 {
    color: rgba(2, 158, 116, 1);
    background-color: transparent;
    border: none;
    font-size: 15px;
    // align-items: center;
    margin-left: -2px;
    cursor: pointer;
}

.splash-check-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.splash-check-list > li:nth-child(3) {
    margin-right: 30px;
}


.splash-green-check > div {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
}
                            
.splash-sub-title {
    font-size: 22px;
    // display: flex;
    margin-top: 25px;
    text-align: center;
    font-weight: 550;
    margin-bottom: 25px;
}

// .splash-span-1 {
//     align-self: flex-start;
//     align-content: left;
// }

.splash-sub-message-1 {
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
    text-align: left;
}

.splash-sub-1 {
    margin-left: -300px;
}

// .splash-sub-2 {

// }

.splash-sub-message-2 {
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
    margin-top: 20px;
    // margin-left: -55px;
    // text-align: left;
    line-height: 32px;
    align-self: flex-start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mark {
    background-color: rgba(12, 242, 143, 0.2);
    color: rgba(0, 0, 0, 0.54);
}

.splash-sub-3 {
    height: 325px;
    display: flex;
    margin-top: 25px;
}

.splash-sub-3-btn {
    // height: 290px;
    // display: flex;
    // margin-top: 25px;
    display: flex;
    align-items: flex-end;
}

.splash-btn-3 {
    background-color: rgb(3, 168, 124);
    color: white;
    width: 340px;
    height: 62px;
    font-size: 20px;
    padding: 8px 16px 8px 16px ;
    border: 1px solid rgb(3, 168, 124);
    margin-top: 15px;
    border-radius: 3px;
    margin-right: 150px;
    margin-left: 50px;
    cursor: pointer;
}

.splash-sub-3-header {
    max-width: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.splash-sub-3-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.splash-sub-3-message {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 32px;
}

.splash-sub-4 {
    display: flex;
    justify-content: center;
}

.splash-sub-message-4 {
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 100px;
    text-align: center;
    // margin-top: -30px;
    margin-bottom: 25px;
}

.splash-btn-4 {
    background-color: rgb(3, 168, 124);
    color: white;
    width: 340px;
    height: 62px;
    font-size: 20px;
    padding: 8px 16px 8px 16px ;
    border: 1px solid rgb(3, 168, 124);
    margin-top: 15px;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 150px;
    cursor: pointer;
}